[submodule "runtime/vendor/spdlog"]
	path = runtime/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "runtime/vendor/glm"]
	path = runtime/vendor/glm
	url = https://github.com/g-truc/glm
